mixin mainWindow(platform)
  Window.container(title="Alloy Model Study 1", onOpen="doOpen", platform=platform)
    View.controller
      TextField#memoText()/
      Button#addButton(title="Add", onClick="addText")/
    ListView#memoList(onItemclick="clickItem")
      ListSection(dataCollection="memo")
        ListItem(title="{contents}", itemId="{id}")/

Alloy
  Collection(src="memo")/
  NavigationWindow(platform="ios")
    +mainWindow("ios")
  +mainWindow("android")
